In [24]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import os

In [25]:
#importing the data set
os.getcwd()
df_train = pd.read_excel("EDM_DATA_Train.xlsx")

In [26]:
df_train.tail()

      x1  x2   x3   x4     y1
63  2000  10  100  0.5   2.73
64  2000  25  500  2.0  13.21
65   500  25  100  1.5   5.31
66   500  25  800  0.5   8.54
67   500  25  500  1.0   7.44

In [27]:
#creating object
reg = LinearRegression()

In [28]:
X_train = df_train[["x1","x2","x3","x4"]]
y_train = df_train["y1"]

In [29]:
#data fitting
reg.fit(X_train,y_train)

LinearRegression()

In [30]:
#coefficient and
reg.coef_

array([0.00410623, 0.13367275, 0.01299189, 1.85013595])

In [31]:
# coefficent
reg.intercept_

-6.794788785620906

# Function 
# Y = [0.00410623, 0.13367275, 0.01299189, 1.85013595]*[X]-6.794788785620906

In [32]:
df_test = pd.read_excel("EDM_DATA_Test.xlsx")
df_test.head()

     x1  x2   x3   x4     y1
0   500  45  100  2.0   4.05
1  2000  10  100  1.0   4.24
2  2000  60  100  2.0  12.08
3   500  10  500  1.0   6.69
4   500  25  800  1.0   9.86

In [33]:
X_test = df_test[["x1","x2","x3","x4"]]
y_test = df_test["y1"]

In [34]:
X_test.tail()

      x1  x2   x3   x4
9   2000  25  100  1.0
10  2000  45  100  1.0
11  2000  60  500  1.5
12   500  25  500  2.0
13  2000  25  100  2.0

In [35]:
# pridiction from test data
predictions = reg.predict(X_test)

In [36]:
#error
from sklearn.metrics import mean_squared_error, mean_absolute_error
print(mean_absolute_error(y_test, predictions))                 # mean absolute error
print(mean_squared_error(y_test, predictions))                  # mean squared error
print(mean_squared_error(y_test, predictions, squared = False)) # RMSE

2.2761932801980835
6.903853702160383
2.6275185445892446

In [37]:
from sklearn.metrics import r2_score
print("Coefficient of Ditermination: ",r2_score(y_test, predictions)*100,"%")

Coefficient of Ditermination:  71.02925076875142 %

In [47]:
# Create a DataFrame
df = pd.DataFrame(predictions)
custom_header = ['Prdections']
# Export the DataFrame to an Excel file
df.to_excel('EDM_DATA_Test_predictions.xlsx', index=False, na_rep='N/A', header=custom_header, index_label='ID')